<div class="jumbotron jumbotron-fluid" itemscope itemtype="http://schema.org/LocalBusiness">
    <div class="container">
        <h1 class="display-4" style="font-weight: bold;">Contáctanos</h1>
        <br>
        <p class="lead">Llama o escribe al Whatsapp <a itemprop="telephone" style="font-weight: bold; color: red;" href="https://api.whatsapp.com/send?phone=+573043758916&text=Hola quiero ampliar la información de la página Saludtf.com">+573043758916</a></p>
        <p class="lead">Envíanos un correo a
            <a itemprop="email" href="mailto:holasaludtf@gmail.com?Subject=Interesado%20en%20ampliar%20informacion" style="font-weight: bold; color: red;">holasaludtf@gmail.com</a>
        </p>
        <hr class="my-4">
        <div class="d-flex justify-content-around">
            <img src="assets/dsa.png" alt="dsa">
            <img src="assets/dsef.png" alt="dsef">
            <img src="assets/nsf.png" alt="nsf">
            <img src="assets/unpa.png" alt="unpa">
        </div>

        <div class="mt-5" style="text-align: center;">
            SALUD TF. Todos los derechos reservados {{anio | date: 'yyyy'}}
        </div>
    </div>
</div>