<nav class="navbar navbar-light bg-white">
    <a class="navbar-brand" href="#">
        <img src="assets/4life-logo.svg" width="100" height="100" alt="">
    </a>
    <span class="navbar-text">
            <img src="assets/salud-tf.jpg" width="100" height="100" alt="">
          </span>
</nav>


<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/productos']" [routerLinkActive]="'active'">Todos los Productos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/transfer']" [routerLinkActive]="'active'">Transfer Factor</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/targeted']" [routerLinkActive]="'active'">Linea Targeted</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/bienestar']" [routerLinkActive]="'active'">Bienestar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/digestiva']" [routerLinkActive]="'active'">Salud Digestiva</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/peso']" [routerLinkActive]="'active'">Control de Peso</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/transform']" [routerLinkActive]="'active'">Linea Transform</a>
    </li>
</ul>

<div class="card-deck m-5">
    <div class="card w-20" *ngFor="let producto of productos|slice:38:46; let i=index;">
        <img src="{{ producto.imagen }}" class="card-img-top" alt="{{ producto.nombre }}">
        <div class="card-body">
            <h3 class="card-title text-center">{{ producto.nombre }}</h3>
            <p class="card-text pvp">{{ producto.pvp }}</p>
            <p class="oferta">Oferta!</p>
            <p class="card-text precio">{{ producto.precio }}</p>
            <p class="card-text text-justify">{{ producto.caracteristicas1 }}</p>
            <p class="card-text text-justify">{{ producto.caracteristicas2 }}</p>
            <p class="card-text text-justify">{{ producto.caracteristicas3 }}</p>
            <p class="card-text text-justify">{{ producto.caracteristicas4 }}</p>
        </div>
        <a class="btn btn-primary btn-lg btn-block" href="https://api.whatsapp.com/send?phone=+573043758916&text=Hola quiero ampliar la información de {{ producto.nombre }}" role="button ">Ordena aqui</a>
    </div>
</div>

<a role="button" href="https://api.whatsapp.com/send?phone=+573043758916&text=Hola quiero recibir asesoría especializada" class="btn btn-success btn-lg btn-block boton_asesor"><i class=" fab fa-whatsapp "></i> Contacta a un asesor especializado</a>

<div class="alert alert-primary m-5" role="alert" style="background-color: rgb(66, 128, 179); color: white; text-align: justify;">
    <h4 class="alert-heading" style="font-size: 50px;">¿Deseas afiliarte a 4Life?</h4>
    <p><small style="font-size: 20px;">(Afiliacion tiene un costo de 66000 pesos)</small></p>
    <p style="font-size: 30px;">Para obtener tu propio código 4life® y acceder a grandes descuentos, promociones y beneficios de por vida </p>
    <hr>
    <a href="https://colombia.4life.com/7980950/signup/distributor" target="_blank" class="alert-link" style="color: #7cda24; font-size: 40px;">INSCRIBETE AQUÍ </a>
</div>

<div class="m-5">
    <a class="btn btn-success btn-lg btn-block todosprod" [routerLink]="['/inicio']" role="button ">Volver</a>
</div>